p#popupBold{
	font-weight: bold;
}

#tableAccess th, #tableAccess td{
	text-align: center;
	vertical-align:middle;
}

.glyphicon-ok{
	color: green;
}
.glyphicon-remove{
	color: red;
}

#selectRole{
	width: 150px;
}

#tableAccess th{
	background-color: #808080;
}
.roleText {
	color:red;
}

#footerProfile{
	text-align: right;
}

#AddItemTable tbody tr:hover td{
    background-color: #c5ff99;
}

#AddItemTable th{
	background-color: #afbcd1;
	text-align: center;
}

#rowValue{
	display: none;
}

#searchTbl thead{
	background-color: #afbcd1;
	text-align: center;
	font-weight: bold;
}

#searchbx{
	width: 300px;
}


#loadingmessage{
	text-align: center;
}

#loadingmessage2{
	text-align: center;
}

#deleteCategoryReminder{
	color: red;
	text-align: center;
}

#tableInactiveStatus th{
	background-color: #f45942;
}

#tableInactiveStatus th, td{
	text-align: center;
	vertical-align:middle;
}

#tblListItem th{
	text-align: left;
}

#tblListItem td{
	text-align: left;
}
 
#staffTableList td{
	text-align: left;
}

#LevelAccessTable td{
	text-align: left;
}

#TblCategory thead{
	background-color: #808080;
}

#inventoryLog table{
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    /*overflow-y: scroll;*/
    /*display: block;*/
}
#inventoryLog thead {
    background-color: #EFEFEF;
}
#inventoryLog thead, #inventoryLog tbody {
    display: block;
}
#inventoryLog tbody {
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    height: 140px;
}
 #inventoryLog th ,#inventoryLog td{
    /*min-width: 200px;*/
    text-align: left;
    height: 25px;
    /*border: dashed 1px lightblue;*/
}
